h1{ /*Selcts any h1 tag in the ejs file*/
    color: red; /*Changing the text color to red*/
}/*Closing the selector*/
.completed{ /*targets any item with a class of completed*/
    color: gray; /*changes text color to grey*/
    text-decoration: line-through; /*applying a strike through style to the text*/
} /*closing the selector*/